use Mix.Config

cond do
  Mix.env == :dev ->
    config :website, AlchemistPH.Repo,
      adapter: Ecto.Adapters.Postgres,
      username: "postgres",
      password: "",
      database: "website_dev",
      hostname: "localhost",
      pool_size: 10

  Mix.env == :test ->
    config :website, AlchemistPH.Repo,
      adapter: Ecto.Adapters.Postgres,
      username: "postgres",
      password: "",
      database: "website_test",
      hostname: "localhost",
      pool: Ecto.Adapters.SQL.Sandbox
end

