@import "../variables";

.date-box {
  & {
    display: inline-block;
    padding: $pad * 2 $pad * 4;
    border: 4px solid rgba($charcoal, 0.2);
    border-radius: 6px;
    margin-bottom: $pad * 10;
  }

  > .month {
    text-transform: uppercase;
    font-family: $code-sans;
    letter-spacing: 0.3em;
  }

  > .date {
    display: block;
    font-size: $ms * $ms * $ms * $ms * 1em;
    color: $elixir-violet;
    font-weight: 700;
  }
}
