@import "../variables";

.navigation-menu {
  & {
    display: flex;
    align-items: center;
    position: fixed;
    top: $pad * 2;
    right: $pad * 2;
    left: $pad * 2;
    z-index: $z-index-navbar;
  }

  > .right {
    margin-left: auto;
  }
}
