@import "../variables";

.sidebar-overlay {
  & {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($elixir-violet, 0.95);
    z-index: 0;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s all;
  }

  &.-show {
    visibility: visible;
    opacity: 1;
  }
}
