@import "../variables";
@import "../utils/unstyle-list";

.sidebar-menu {
  & {
    position: fixed;
    background: #fff;
    border-left: 1px solid $border-color;
    max-width: 350px;
    width: 100%;
    top: 0;
    z-index: 1;
    height: 100%;
    right: -350px;
    transition: 0.3s all;
  }


  &.-show {
    right: 0;
  }

  > .close {
    cursor: pointer;
    font-size: 2.5em;
    color: $charcoal;
    position: absolute;
    top: $pad * 3;
    right: $pad * 3;
  }

  > .content {
    padding: $pad * 20 $pad * 2;
  }

  > .content > .brand-icon {
    margin-bottom: $pad * 7;
  }

  > .content > .links {
    padding: 0 $pad * 2;
    margin: 0;
  }

  > .content > .links > .item {
    font-size: $ms * 1em;
    margin-bottom: $pad * 3;
    display: block;
  }

  > .content > .links > .item > a > .grayed {
    color: rgba($dove-gray,0.6);
  }

  > .content > .links > .social-links {
    @include unstyle-list();
  }

  > .content > .links > .social-links > .item {
    display: inline-block;
    margin-right: $pad * 2;
    font-size: 2em;
  }

  > .content > .links > .social-links > .item:last-child {
    margin-right: 0;
  }

  > .content > .links > .social-links > .item > a {
    color: $mercury;
  }

  > .content > .links > .social-links > .item > a:hover {
    color: $elixir-violet;
  }
}
