@import "../variables";

.site-type {
  & {
    text-align: center;
    margin-bottom: $pad * 10;
  }

  &.-left { 
    text-align: left;
  }

  > .prelude {
    color: $elixir-violet;
    font-family: $code-sans;
    text-transform: uppercase;
    font-size: $ms * 1em;
    letter-spacing: 0.5em;
  }

  > .description {
    font-size: $ms * $ms * $ms * 1em;
    margin-bottom: $pad * 20;
  }
}
