@import "../variables";

.site-subtype {
  & {
    text-align: left;
  }

  > .prelude {
    color: $elixir-violet;
    font-family: $code-sans;
    text-transform: uppercase;
    font-size: $ms * 1em;
    letter-spacing: 0.5em;
  }

  > .description {
    font-size: $ms * 1em;
  }
}
