@import "../variables";

.upcoming-meetup {
  padding: $pad * 25 0;
  border-top: 1px solid $border-color;
  background: linear-gradient(rgba(#fff,0.97), rgba(#fff, 0.98), rgba(#fff,1), rgba(#fff,1)),
    url('/images/group-photo.jpg') 
    10% center / cover no-repeat;
}
