// Typography ------------------------------------------
$font-size-base:          14px !default;

$sans: 'Source Sans Pro', 'Helvetica Neue', 'Arial', sans-serif;
$code-sans: 'Inconsolata', 'Helvetica Neue', 'Arial', sans-serif;

$font-family-sans-serif: $sans;
$font-family-base: $sans !default;

$font-size-base:          14px;
$font-size-large:         ceil(($font-size-base * 1.25)); // ~18px
$font-size-small:         ceil(($font-size-base * 0.85));

// Sizes ===================================================

$pad:                       8px;
$ms:                        1.25;
$gutter-width:              32px;

$padding-base-vertical:     14px;
$padding-base-horizontal:   20px;

$padding-large-vertical:    16px;
$padding-large-horizontal:  24px;

$padding-small-vertical:    5px;
$padding-small-horizontal:  10px;

$padding-xs-vertical:       1px;
$padding-xs-horizontal:     5px;

$line-height-base:          1;
$line-height-large:         1.3333333; // extra decimals for Win 8.1 Chrome
$line-height-small:         1.5;

$border-radius-base:        0px;

// Colors ====================================================
$elixir-violet:                     #6D41B5;
$dull-lavander:                     #AD96D3;
$dove-gray:                         #757575;
$charcoal:                          #454343;
$mercury:                           #E6E6E6;


// Specifically-used Colors ====================================================
$paragraph-color:                   $dove-gray;
$heading-color:                     $charcoal;
$border-color:                      $mercury;

$btn-default-color:              $elixir-violet;
$btn-default-bg:                 #fff;
$btn-default-border:             $elixir-violet;

$btn-primary-color:              #fff;
$btn-primary-bg:                 $elixir-violet;
$btn-primary-border:             $elixir-violet;

$btn-alt-color:                   $elixir-violet;
$btn-alt-bg:                      #fff;
$btn-alt-border:                  #fff;

// Container sizes =============================================================

// Small screen ===================
$container-tablet:             (720px + $gutter-width);
$container-sm:                 $container-tablet;

// Medium screen / desktop ===========
$container-desktop:            (940px + $gutter-width);
$container-md:                 $container-desktop;

// Large screen / wide desktop ==========
$container-large-desktop:      (1140px + $gutter-width);

$container-lg:                 $container-large-desktop;
