@font-face {
  font-family: "Ionicons";
  src: asset-url("node_modules/ionicons/dist/fonts/ionicons.eot?v=3.0.0-alpha.3");
  src: asset-url("node_modules/ionicons/dist/fonts/ionicons.eot?v=3.0.0-alpha.3#iefix") format("embedded-opentype"),
       asset-url("node_modules/ionicons/dist/fonts/ionicons.ttf?v=3.0.0-alpha.3") format("truetype"),
       asset-url("node_modules/ionicons/dist/fonts/ionicons.woff?v=3.0.0-alpha.3") format("woff"),
       asset-url("node_modules/ionicons/dist/fonts/ionicons.svg?v=3.0.0-alpha.3#Ionicons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@import 'node_modules/ionicons/dist/scss/ionicons';
